<center><h1>MTE Internship Task</h1></center>

## ProjectDescription
Forecasting blood supply is a serious and recurrent problem for blood collection managers.In this Project, you will work with data collected from the donor database of Blood TransfusionService Center.  The dataset, obtained from the Machine Learning Repository, consists of arandom sample of 748 donors. Your task will be to predict if a blood donor will donate within a giventime window. You will look at the full model-building process: from inspecting the dataset to usingthe tpot library to automate your Machine Learning pipeline.To complete this Project, you need to know some Python, pandas, and logistic regression.

## Load the data set datasets/transfusion.data

In [44]:
import pandas as pd
file_path = "C:/Users/user/Desktop/MTE internship/transfusion.data"
# above .data file is comma delimited
data = pd.read_csv(file_path, delimiter=",")
data.shape

(748, 5)

## Task2:

In [45]:
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

## Task3:

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
Recency (months)                              748 non-null int64
Frequency (times)                             748 non-null int64
Monetary (c.c. blood)                         748 non-null int64
Time (months)                                 748 non-null int64
whether he/she donated blood in March 2007    748 non-null int64
dtypes: int64(5)
memory usage: 29.3 KB

## Task4:

In [47]:
data.rename(columns ={"whether he/she donated blood in March 2007": "target"}, inplace = True)

In [48]:
data.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1

## Task5:

In [49]:
round(data["target"].value_counts(normalize=True), 3)

0    0.762
1    0.238
Name: target, dtype: float64

## Task6:

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x = data.drop(["target"],axis=1)
y = data["target"]

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=1)
x_train.head(2)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
285                11                  2                    500             14
623                11                  6                   1500             28

## Task7:

In [ ]:
import tpot
from sklearn.metrics import roc_auc_score